@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,800";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color */
@font-face {
  font-family: "fontello";
  src: url("./font/fontello.eot?37189356");
  src: url("./font/fontello.eot?37189356#iefix") format("embedded-opentype"), url("./font/fontello.woff2?37189356") format("woff2"), url("./font/fontello.woff?37189356") format("woff"), url("./font/fontello.ttf?37189356") format("truetype"), url("./font/fontello.svg?37189356#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37189356#fontello') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-right-open:before {
  content: "";
}

/* '' */
.icon-resize-small:before {
  content: "";
}

/* '' */
.icon-resize-full:before {
  content: "";
}

/* '' */
.icon-minus:before {
  content: "";
}

/* '' */
.icon-plus:before {
  content: "";
}

/* '' */
.icon-home:before {
  content: "";
}

/* '' */
.icon-left:before {
  content: "";
}

/* '' */
.icon-trash:before {
  content: "";
}

/* '' */
.icon-window-maximize:before {
  content: "";
}

/* '' */
.icon-window-minimize:before {
  content: "";
}

/* '' */
body {
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  background: #242D32;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 300px;
}
@media (max-width: 700px) {
  .sidebar {
    width: 100% !important;
    height: auto;
    position: relative;
    padding-bottom: 20px;
  }
}
.sidebar .sidebar-icons {
  margin-top: 15px;
}
.sidebar .sidebar-icon {
  font-size: 15px;
  float: right;
  padding: 10px 5px 10px 5px;
  text-align: center;
}
.sidebar .sidebar-icon:hover {
  cursor: pointer;
  background: #4f8cb8;
}
.sidebar .sidebar-icons::after {
  content: "";
  display: table;
  clear: both;
}
.sidebar .sidebar-body {
  margin-top: 20px;
}
.sidebar .sidebar-title {
  text-align: center;
}
.sidebar .sidebar-title h1 {
  font-size: 30px;
  font-weight: 600;
  overflow-wrap: break-word;
}
.sidebar .sidebar-title h1 .icon-left {
  cursor: pointer;
}
.sidebar .sidebar-title .sidebar-title-border {
  width: 80%;
  height: 10px;
  display: inline-block;
  border-bottom: 2px solid #ffffff;
  /* padding: 0 20px 0 20px; */
}
.sidebar .sidebar-contents {
  margin-top: 20px;
}
@media (max-width: 700px) {
  .sidebar .sidebar-contents {
    margin: auto;
    text-align: center;
  }
}
.sidebar .sidebar-contents .sidebar-category {
  padding: 15px 30px 15px 30px;
  height: 20px;
}
.sidebar .sidebar-contents .sidebar-category .category-name {
  float: left;
  overflow-wrap: break-word;
  width: 75%;
}
.sidebar .sidebar-contents .sidebar-category .sub-category-arrow {
  margin-left: 30px;
  float: right;
}
.sidebar .sidebar-contents .sidebar-category .sub-category-arrow::after {
  content: "";
  clear: both;
}
@media (max-width: 700px) {
  .sidebar .sidebar-contents .sidebar-category {
    /* padding: 15px 60px 15px 60px; */
  }
  .sidebar .sidebar-contents .sidebar-category .category-name {
    float: none;
  }
  .sidebar .sidebar-contents .sidebar-category .sub-category-arrow {
    margin-left: 30px;
    float: none;
  }
}
.sidebar .sidebar-contents .sidebar-category:hover {
  background: #4f8cb8;
  border-radius: 10px;
  cursor: pointer;
}

.contents {
  margin-left: 300px;
  padding: 100px 0 0 50px;
  max-width: 800px;
}
@media (max-width: 700px) {
  .contents {
    margin-left: 0 !important;
    padding: 10px;
  }
}
.contents .contents-title {
  font-size: 30px;
  font-weight: 500;
  /* .contents-title-cates{
      font-weight: 500px;
  } */
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .contents .contents-title {
    margin-top: 20px;
    margin-left: 10px;
  }
}
.contents .contents-title .cate {
  font-weight: 600;
}
.contents table {
  width: 80%;
  text-align: center;
}
.contents table th, .contents table td {
  padding: 20px;
}
.contents table tbody tr:hover {
  background-color: #ddd;
}
.contents table .icon-trash {
  font-size: 20px;
}
.contents table .icon-trash:hover {
  cursor: pointer;
}
.contents table .label {
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
}

.hide {
  display: none;
}

/*# sourceMappingURL=app.css.map */
