@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,800";
@import "reset";
@import "variables";
@import "font";

body {
    font-family:'Open Sans', sans-serif;
}

.sidebar{
    background: $gray;
    color: $white;
    margin:0;
    padding:0;
    position: fixed;
    height: 100%;
    width: 300px;
    

    @media (max-width: $screen-md){
        width:100% !important;
        height:auto;
        position: relative;
        padding-bottom: 20px;
    } 
    .sidebar-icons{
        margin-top:15px;
    }
    .sidebar-icon{
        font-size: 15px;
        float:right;
        padding: 10px 5px 10px 5px;
        text-align: center;
    }
    .sidebar-icon:hover{
        cursor:pointer;
        background: $highlight;
    }
    .sidebar-icons::after{
        content: "";
        display:table;
        clear: both;
    }
    .sidebar-body{
        margin-top: 20px;
    }
    .sidebar-title {
        text-align: center;
        h1{
            font-size: 30px;
            font-weight: 600;
            overflow-wrap: break-word;

            .icon-left{
                cursor: pointer;
            }
        }
        .sidebar-title-border{
            width:80%;
            height:10px;
            display:inline-block;
            border-bottom: 2px solid $white;
            /* padding: 0 20px 0 20px; */
        }
    }

    .sidebar-contents{
        margin-top: 20px;
        @media (max-width: $screen-md){
            margin:auto;
            text-align: center;
        }

        .sidebar-category{
            padding: 15px 30px 15px 30px;
            height:20px;
            .category-name{
                float:left;
                overflow-wrap: break-word;
                width:75%;
            }
            .sub-category-arrow{
                margin-left:30px;
                float:right;
            }
            .sub-category-arrow::after{
                content: "";
                clear: both;
            }
            @media (max-width: $screen-md){
                /* padding: 15px 60px 15px 60px; */
                .category-name{
                    float:none;
                }
                .sub-category-arrow{
                    margin-left:30px;
                    float:none;
                }
                
            }
        }
        .sidebar-category:hover{
            background: $highlight;
            border-radius: 10px;
            cursor: pointer;

        }
    }

}

.sidebar-category{
            
            
            
    
}

.contents{
    margin-left: 300px;
    padding: 100px 0 0 50px;
    max-width: 800px;
    @media (max-width: $screen-md){
        margin-left: 0 !important;
        padding:10px;
    }
    .contents-title{
        font-size: 30px;
        font-weight: 500;
        /* .contents-title-cates{
            font-weight: 500px;
        } */
        margin-bottom: 40px;
        @media (max-width:$screen-md){
            margin-top:20px;
            margin-left: 10px;
        }
        .cate{
            font-weight: 600;
        }
    }

    table{
        width: 80%;
        text-align: center;
        th, td{
            padding:20px;
        }
        tbody tr:hover {background-color: #ddd;}
        .icon-trash{ font-size:20px; }
        .icon-trash:hover{ cursor: pointer; }
        .label{
            margin-bottom: 20px;
            border-bottom: 1px solid $black;
        }
    }
}

.hide {
    display:none;
}